[Unit]
Description=smartdns daemon
After=network.target
 
[Service]
User=root
Group=root
WorkingDirectory=/usr/local/smartdns/script
ExecStart=/bin/sh run_dns.sh
ExecReload=/bin/sh reload_dns.sh
ExecStop=/bin/kill -s TERM $MAINPID
EnvironmentFile=/etc/environment
PrivateTmp=true
Restart=on-failure
RestartSec=2s
 
[Install]
WantedBy=multi-user.target
